<html>
  <head>
    <link rel="stylesheet" href="/style.css"></link>
    <script type="text/javascript" src="/students.js"></script>
  </head>
  <head>
    <link href="/style.css"></link>
    <ul >
        <li >
            <a aria-current="page" href="/">Home page</a>
        </li>
        <li>
            <a href="/students/data">Data visualization</a>
        </li>
</head>
  <body>
    <main>
    <h1 id="title">Presentation of the students: </h1>
    <p class="long-text" id ="subtitle">
      If you want to check the details of the different students, you can click on their name!</p>
    <ul class="students" id="students">
      <div class="list-group">
        <% for (var i = 0; i<students.length; i++) { %>
        <a href="/students/<%=i%>" class="list-group-item list-group-item-action" aria-current="true">
          <%= students[i].name %> <br><br>
        </a>
        <%}%>
      </div> 
    <img src="https://www.nicepng.com/png/detail/0-1255_student-clipart-walking-students-clipart.png"/>
    </ul>
   </main>
  </body>
</html>
