body {
  background-color: rgb(160, 81, 85);
}
main {
  max-width: 800px;
  margin: auto;
}

/* Hide long text on mobile phones*/
@media (max-width: 1000px) {
  p.long-text {
    display: none;
  }
}
